<!-- Top content -->
        <div class="top-content">
            <div name="Search" class="container">
            	
                <div class="row">
                    <div class="col-sm-12 text wow fadeInLeft">
                        <h1>Real Time <strong>Analytics</strong>.</h1>
                        <div class="col-md-3"></div>

                        <div class="description form-group col-sm-12 col-md-6">
                        	<input type="text" class="search-box col-xs-12" placeholder="Type something..." value="">
                        </div>

                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                        	<button type="submit" class="btn search-btn col-xs-12">Search</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- Features -->
        <div class="features-container section-container">
	        <div name="Analytics" class="container">
	        	
	            <div class="row">
	                <div class="col-sm-12 features section-description wow fadeIn">
	                    <h2>Analytics</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            
	            <div class="row">
	            	<div class="col-sm-3"></div>
	                <div class="col-sm-6 features-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-sm-3 features-box-icon">
	                			<i class="fa fa-quote-left"></i>
	                		</div>
	                		<div class="col-sm-9">
	                			<h3>How do I cancel my subscription</h3>
		                    	<p>
		                    		Searched 32 times.
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	            </div>
	            
	            <div class="row">
	            	<div class="col-sm-3"></div>
	                <div class="col-sm-6 features-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-sm-3 features-box-icon">
	                			<i class="fa fa-quote-left"></i>
	                		</div>
	                		<div class="col-sm-9">
	                			<h3>Where to buy a jacket</h3>
		                    	<p>
		                    		Searched 13 times.
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	            </div>

	        </div>
        </div>

        <!-- Footer -->
        <footer>
	        <div class="container">
	        	<div class="row">
	        		<div class="col-sm-12 footer-copyright">
                    	&copy; Bootstrap Search Template by <a href="http://azmind.com">AZMIND</a>
                    </div>
                </div>
	        </div>
        </footer>


        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->